# ignore ".terraform" directories
**/.terraform

# Ignore CLI configuration files
.terraformrc
terraform.rc

# ignore lockfile
**/.terraform.lock.hcl

# ignore log files
**/*.log

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# ignore state files
*.tfstate
*.tfstate.*

# Exclude all tfvars files, which are likely to contain sensitive data, such as
# password, private keys, and other secrets. These should not be part of version 
# control as they are data points which are potentially sensitive and subject 
# to change depending on the environment.
*.tfvars
*.tfvars.json

# MacOS File
**/.DS_Store
