name: Pull Request checks

on: 
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review

jobs:
  terraform-fmt:
    name: Terraform Formatting
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@8f4b7f84864484a7bf31766abe9204da3cbe65b3 # v3.5.0
    - name: setup terraform
      uses: hashicorp/setup-terraform@633666f66e0061ca3b725c73b2ec20cd13a8fdd1 #v2.0.3
    - name: terraform fmt
      run: terraform fmt -check -diff -recursive ./

  terraform-validate:
    name: Terraform config validation
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@8f4b7f84864484a7bf31766abe9204da3cbe65b3 # v3.5.0
    - name: setup terraform
      uses: hashicorp/setup-terraform@633666f66e0061ca3b725c73b2ec20cd13a8fdd1 #v2.0.3
    - name: terraform init
      run: terraform init
    - name: terraform validate
      run: terraform validate

  tflint:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@8f4b7f84864484a7bf31766abe9204da3cbe65b3 # v3.5.0
    - name: cache tflint
      uses: actions/cache@88522ab9f39a2ea568f7027eddc7d8d8bc9d59c8 # v3.3.1
      with:
        path: ~/.tflint.d/plugins
        key: tflint-${{ hashFiles('.tflint.hcl') }}
    - name: setup tflint
      uses: terraform-linters/setup-tflint@ba6bb2989f94daf58a4cc6eac2c1ca7398a678bf # v3.0.0
    - name: tflint init
      run: tflint --init
    - name: tflint validate
      run: tflint -f compact --module
