---
name: Pull Request checks

"on":
  pull_request:
    branches:
      - main
      - master
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review

permissions:
  contents: read

jobs:
  shell_check:
    name: "Shell: Syntax checks"
    uses: scaleway-terraform-modules/workflows/.github/workflows/shell_check.yaml@fec3d47e8e7b97a889ef4e5aae12bf0f930171c0  # v2.1.14
  tf_module_check:
    name: "Terraform Module: Code checks"
    uses: scaleway-terraform-modules/workflows/.github/workflows/tf_module_check.yaml@fec3d47e8e7b97a889ef4e5aae12bf0f930171c0  # v2.1.14
  yaml_check:
    name: "YAML: Syntax checks"
    uses: scaleway-terraform-modules/workflows/.github/workflows/yaml_check.yaml@fec3d47e8e7b97a889ef4e5aae12bf0f930171c0  # v2.1.14
