---
name: Pull Request checks

"on":
  pull_request:
    branches:
      - main
      - master
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review

jobs:
  shell_check:
    name: "Shell: Syntax checks"
    uses: scaleway-terraform-modules/workflows/.github/workflows/shell_check.yaml@31cb55680c3003cff035e56923aef9912a8f413f  # v2.1.6
  tf_module_check:
    name: "Terraform Module: Code checks"
    uses: scaleway-terraform-modules/workflows/.github/workflows/tf_module_check.yaml@31cb55680c3003cff035e56923aef9912a8f413f  # v2.1.6
  yaml_check:
    name: "YAML: Syntax checks"
    uses: scaleway-terraform-modules/workflows/.github/workflows/yaml_check.yaml@31cb55680c3003cff035e56923aef9912a8f413f  # v2.1.6
