---
name: Pull Request checks

"on":
  pull_request:
    branches:
      - main
      - master
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review

jobs:
  check_shell:
    uses: scaleway-terraform-modules/workflows/.github/workflows/check_shell.yaml@dfa5aa6bfee2a41dad6f10dd6147a40f35453e4d  # v0.0.6
  check_tf:
    uses: scaleway-terraform-modules/workflows/.github/workflows/check_tf.yaml@dfa5aa6bfee2a41dad6f10dd6147a40f35453e4d  # v0.0.6
    secrets: inherit
  check_yaml:
    uses: scaleway-terraform-modules/workflows/.github/workflows/check_yaml.yaml@dfa5aa6bfee2a41dad6f10dd6147a40f35453e4d  # v0.0.6
